<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	
    <title>SMART EVENT MANAGEMENT PORTAL</title>
	<style type="text/css">
		.jumbotron{
			background-image:url(management.jpg);
			text-align:center;
			height:640px;
		}
		.form-inline{
			position:relative;
			left:600px;
			top:250px;	
		}
	
		.navbar-nav{
			position:relative;
			left:800px;
		}
		#btn2{
			position:relative;
			
		}
		.btn{
			width:150px;
		}
		#btn1{
			position:relative;
			right:170px;
		}
	</style>
  </head>
  <body data-spy="scroll" data-target="#examplenavbar" data-offset=0>
	<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top" id="examplenavbar">
	<a class="navbar-brand" href="#">A SMART EVENT MANAGEMENT PORTAL</a>
	<ul class="navbar-nav ">
		<li class="nav-item">
			<a class="nav-link" href ="#home">HOME</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">ABOUT</a>
		</li>
	</ul>
	</nav>
	<div class="jumbotron jumbotron-fluid" id="home">
		<div class="container-fluid">
			<form class="form-inline">
						
					<button class="btn btn-info" id="btn1">Sign up</button>
					<button class="btn btn-info" id="btn2">sign in</button>
				</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>	
  </body>
</html>
  
