<!doctype html>



{% load static %}



<html lang="en">

  <head>

   

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<link rel="stylesheet" href="{% static 'css/dashboarduser.css'%}">

	

    <title>SEMP- Dashboard</title>

  </head>

  

  <body id= "pagetop">

<!-- The top navbar -->
	
	<nav class="navbar navbar-expand-lg d-flex fixed-top" id="topnavbar">

		<a class="navbar-brand" href="#" style= "color: #ffffff" ><b>SMART EVENT MANAGEMENT PORTAL</b></a>

		

			<div class= "container-fluid justify-content-end">

			

					<a class="nav-link" href="#"> <img src="{% static 'home.png'%}" width="35" height="30" alt=""> </a>

				

				<div class="dropdown">

				  <a class="btn dropdown-toggle ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

					MENU

				  </a>

				  

				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

					<a class="dropdown-item" href="#">Profile</a>

					<a class="dropdown-item" href="#">Archives</a>

					<a class="dropdown-item" href="#">Help</a>

					<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>

				  </div>

				</div>

			</div>

	

	</nav>



<!-- The Floating action button part -->	

	<div class="fixed-action-btn" id="addevent">

	  <a class="btn-floating btn-large">

		<i class="fa fa-plus" aria-hidden="true"></i>

	  </a>

	</div>

	

<!-- The side nav bar -->

	<nav class="navbar d-flex fixed-bottom" id="sidenavbar">
	
		<h2> hello, </h2>
		{% for sd in Selfu%}
		<h4>{{sd.name}} </h2>
		{% endfor %}

		<div class= "my-auto">

			

			 <ul class="nav nav-pills flex-column" role="tablist" id="navigation">

			 

				<li class="nav-item">

					<a class="nav-link active" href="#about" role="tab" data-toggle="tab">Resource Provider</a>

				</li> 

				<li class="nav-item">

					<a class="nav-link" href="#experience" role = "tab" data-toggle="tab" >Organizers</a>

				</li>			<li class="nav-item">

					<a class="nav-link" role = "tab" data-toggle="tab" href="#requestform">Request User</a>

				</li>

			</ul>

		</div>

	</nav>

	

	<div class = "tab-content" id = "mytabcontent">

		<div class="tab-pane fade" id="requestform" role="tabpanel">

			<h3 style="text-align:center" id="reqinfo">Request New User</h3>

			<form class="needs-validation" action="{% url 'requestuser' %}" name="myform" onsubmit="return validateform()" method= "POST">
			{% csrf_token %}
		  <div class="form-group">

			<label for="name" class="textcolor">NAME:</label>

			<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>

		  </div>

		  <div class="form-group">

			<label for="email" class="textcolor">EMAIL:</label>

			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>

		  </div>

		  <div class="form-group">

			<label for="phone" class="textcolor">PHONE NUMBER:</label>

			  <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone" required> 

			

		  </div>

		  <div class="form-group">

			<label for="des" class="textcolor">DESIGNATION</label>

			<input type="text" class="form-control" id="des" placeholder="Enter Designation" name="des" required>

		  </div>

		  <div class="form-group">

			<label for="id" class="textcolor">ID</label>

			<input type="text" class="form-control" id="id" placeholder="Enter Valid ID" name="id" required>

		  </div>

		  <button type="submit" class="btn btn-primary" value="Submit">Submit Request</button>

		</form>

		</div>

	</div>
	<!-- create event form-->
	
	<div id="id03" class="modal3 animate">
  
		<form class="modal-content3" action="/action_page.php" method= "POST">
		<span onclick="document.getElementById('id03').style.display='none'" class="close3" title="Close Modal">&times;</span>
	
		<div class="container3">
		<h2> Create an Event </h2>
	  
    <hr>
      <label for="title"><b>Title</b></label> <br/>
      <input class= "inp3" type="text" placeholder="Event Name" name="title"  required> 
      <br/>
      <label for="evedate"><b>Event Date</b> <span id= "distance"><b> Time </b></span></label> 
		<div>
         <input class = "inp3 pickdate gap point" type = "text" placeholder = "YYYY/MM/DD" name= "evedate" required> 
			 <span style="margin-left: 12rem;"><input class = "inp3 gap point" type = "time"  value="13:30" name= "time1" required ></span>
		</div>
		<br/>
			<label for="venue"><b>Venue</b></label><br/>
			
            <select class = "inp3" name="places">
				<option  value="outside">External Venue</option>
			</select>
			
		
		<br>
		
         <label style="margin-bottom: 2rem;"><input type="checkbox" id= "availability" name="altdates" required></label><span style="margin-bottom: 0.8rem;">In case of no availability, choose alternate dates </span>
	
		<br/>
			
		<div id = "eve-date">
		
		<label for="venue"><b>Venue</b></label><br/>
            <select class = "inp3 enable" id="venuechoice" name="altplaces">
				<option  value="outside">External Venue</option>
			</select>
         <input class = "inp3 pickdate enable gap point" type = "text"  placeholder = "YYYY/MM/DD" name= "evedate2" >  
				<input class = "inp3 enable gap point" type = "time"  value="14:30" name= "time2" style="margin-left: 12rem;">
				<br/>
           
            <input class = "inp3 pickdate enable gap point" type = "text"  placeholder = "YYYY/MM/DD" name= "evedate3" style="margin-left: 12rem;"> 
					
				<input class = "inp3 enable gap point" type = "time"  value="15:30" name= "time3"> 
			<br/>
		</div>
		<br/>
			<label for="organizer-name"><b>Organizer</b></label>
			
			<br/>
			
            <select class = "inp3 point" name="organizers" multiple size = "1">
				<option class = "sel-org" value="selected-org">Dummy</option>	
			</select>			
			<textarea id= "message"  name="extra-notes" rows="20" cols="10" placeholder = "Extra Notes"></textarea> 
			
			  <div class="clearfix3">
				<button type="button" onclick="document.getElementById('id03').style.display='none'" class= "but3" id="cancelbtn3">Cancel</button>
				<button type="submit" id="create_btn" class= "but3">Create</button>
			  </div>
		</div>
	</form>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="{%static 'js/dash1.js'%}"></script>

  </body>

  

  </html>